{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'css/main.css'%}" rel="stylesheet"/>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
</head>
<body>
    <h1>User list</h1>
    <table>
        <tr>
            <th>S.N</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
    {% for user in users %}
    <tr>
        <td>{{ forloop.counter}}</td>   
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td><a href="{% url 'crud:update' user.id %}"><button>Update</button></a></td>
        <td><a href="{% url 'crud:delete' user.id %}"><button>Delete</button></a></td>

    </tr>   
    {%endfor%}
    
    </table>
    <a href="{% url 'crud:add' %}" ><button>Add</button></a>
    <p id="demo"></p>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>